html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

meni {
  margin: 10px;
}

.info-element {
  text-align: right;
  font-style: italic;
  padding-right: 15px;
}

table {
  border-spacing: 0 10px;
}

button {
  background: white;
}

slika img {
  height: 50;
  width: 50;
}


telo {
  flex: 1;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: visible;
  padding: 10px;
  display: inline-block;;
  background-color: lightgray;
}

.rob {
  border: 1px solid transparent;
  border-color: #C30C21;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
